name: bot
on:
workflow_dispatch:
permissions:
contents: write
jobs:
run:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v3
- name: set
uses: actions/setup-python@v4
with:
python-version: '3.9'
- name: work
run: |
pip install requests beautifulsoup4
python update_news.py
git config --global user.name
git config --global user.email 'bot@bot.com'
git add .
git commit -m "up" || exit 0
git push
